
.App {
  background-image: url('/Background.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.MainContainer {
  max-width: 960px;
}

.DropCellContainer {
  display: flex;
}
