.MainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 112px; /* Avoid header bar */
  height: 80%;
  margin: 0px auto;
}

.HeaderNoMargin {
  margin: 0;
  margin-bottom: 8px;
}

.TextBody {
  max-width: 50%;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .TextBody {
    max-width: 100%;
  }
}

.DropCellContainer {
  display: flex;
  width: 100%;
}
