.Chrome {
  min-height: 100%;
  height: 100%;
}

.Chrome__Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 40px 40px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(18, 18, 18, 0.96);
  z-index: 99;
}

@media (min-width: 1200px) {
  .Chrome__Header {
    background-color: rgba(18, 18, 18, 0.0);
  }
}

.Chrome__AppLogo {
  height: 32px;
}

.Chrome__AppContent {
  min-height: 100%;
  height: 100%;
}

.Chrome__AppFooter {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.6;
  padding: 40px 40px;
  color: #4b4b4f;
}

.Chrome__AppFooter__Link {
  color: #2cc5b3;
  text-decoration: none;
}
