.DropTargetContainer {
  background-image: url('/ABackground.png');
  background-size: cover;
  background-position: center center;
  width: 426px;
  height: 149px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.DropTargetContainer:last-child {
  margin-right: 0;
}
