.DropTargetContainer {
  background-image: url('/ABackground.png');
  background-size: cover;
  background-position: center center;
  display: flex;
  flex: 1;
  height: 149px;
  margin-right: 8px;
  margin-bottom: 16px;
}

.DropTargetContainer:last-child {
  margin-right: 0;
}

.DropTargetBVariant {
  background-image: url('/BBackground.png');
}
