.TransportContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.TransportButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;
  margin-right: 8px;
  flex: 0;
}

.TransportButton {
  background-position: center center;
  background-size: cover;
  width: 52px;
  height: 52px;
  border: 0;
  background-color: transparent;
  outline: 0;
}

.TransportButton:hover {
  cursor: pointer;
}

.TransportReset {
  background-image: url('/Rewind.png');
}

.TransportPlay {
  background-image: url('/Play.png');
}

.TransportPause {
  background-image: url('/Pause.png');
}

.TransportProgressTrack {
  flex: 1;
  background-color: #333;
  border-radius: 7px;
  height: 14px;
}

.TransportProgressFill {
  background-color: #999;
  border-radius: 7px;
  height: 14px;
  -webkit-transition: width 0.1s ease-in-out;
  -moz-transition: width 0.1s ease-in-out;
  -o-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}
